fastapi
uvicorn
pydantic
python-multipart
python-dotenv
chromadb
pypdf
langchain
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers
groq
google-auth
google-auth-oauthlib
google-auth-httplib2